body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f9;
}

header {
  background-color: #294fa1;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #2d8ac9;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #2e6183;
}

#conteudo {
  max-width: 1000px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #2d8ac9;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}